.service {
  width: 100%;
  display: flex;
  background-color: pink;
  margin-bottom: 10rem;
  scroll-snap-align: start;
  height: 70vh;
}

.card__button {
  margin-top: 2rem;
  align-self: flex-end;
}

@media screen and (max-width: 600px) {
  .card__button {
    align-self: center;
  }
}
