.service {
  width: 100%;
  display: flex;
  /* background: linear-gradient(
    135deg,
    rgba(121, 36, 239, 0.7),
    rgba(121, 36, 239, 0.9)
  ); */
  /* color: white; */
  margin-bottom: 10rem;
  scroll-snap-align: start;
  height: 70vh;
  flex-direction: column;
  position: relative;
  border-radius: 5rem;
  border-right: 1px solid rgba(121, 113, 113, 0.322);
  border-top: 1px solid rgba(121, 113, 113, 0.322);
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  padding: 0 2rem;
}

@media screen and (min-width: 600px) {
  .service {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 400px) {
  .service {
    height: 90vh;
  }
}

.service__title {
  position: relative;
  top: 8rem;
}

.service__description {
  position: relative;
  top: 6rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.service__feat_title {
  position: relative;
  top: 10rem;
}

.service__features {
  position: relative;
  top: 10rem;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .service__features {
    flex-direction: column;
  }

  .service__key_features {
    margin: 1.15rem;
  }
}

.service__key_features {
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: space-between;
}

.service__key_features div {
  margin: 0.3rem;
}

.card__button {
  margin-top: 2rem;
  align-self: flex-end;
}

@media screen and (max-width: 600px) {
  .card__button {
    align-self: center;
  }
}

.service__actions {
  position: absolute;
  top: 5rem;
  right: 5rem;
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

.service__inview {
  /* transform: scale(1.2); */
}
