.navigation {
  --height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 50px;
  height: var(--height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  margin-bottom: var(--height);
}
