.service_form {
  flex-direction: column;
}

.service_form__input {
  margin: 15px;
}

.service_form__input input,
textarea {
  width: 250px;
  margin-left: 25px;
}

.service_form__input textarea {
  width: 250px;
  height: 150px;
  margin-left: 25px;
}
