.footer {
  position: relative;
  top: 25rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  color: white;
  background-color: black;
}

.footer__snap {
  scroll-snap-align: start;
}
