/* .inquiry {
  background-color: red;
  margin: 0 auto;
  
  border-right: 1px solid rgba(121, 113, 113, 0.322);
  border-top: 1px solid rgba(121, 113, 113, 0.322);
  max-width: 60%;
  margin: 3rem auto;
  border-radius: 3rem;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
} */
