/* .inquiry__not_seen {
 */
/* } */

.inquiry {
  display: flex;
  /* scroll-snap-align: start; */
  flex-direction: column;
  padding: 2rem 3rem;
  border-radius: 3rem;
  border-right: 1px solid rgba(121, 113, 113, 0.322);
  border-top: 1px solid rgba(121, 113, 113, 0.322);
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #f5f5f5;
  width: 80%;
  margin: 10rem auto;
  background-color: #f5f5f5;
}

.inquiry__contact {
  color: white;
  background-color: rgb(70, 70, 187);
  border: none;
  width: 100%;
  padding: 1.5rem;
  border-radius: 4rem;
  position: relative;
  top: 1.5rem;
  margin: 1rem auto;
}

.flexbox {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inquiry__info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .inquiry__info__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .inquiry {
    width: 100%;
  }

  .flexbox {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .inquiry {
    width: 60%;
  }

  .flexbox {
    flex-direction: column;
  }
}

.handledBy__red {
  color: rgb(223, 64, 64);
}

.handledBy__green {
  color: rgb(68, 206, 68);
}
